.Post {
    /* margin: 20px auto;
    width: 90%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box; */
    margin: 2rem auto;
}

.text-post-center {
    text-align: left;
}
/* 
@media (min-width: 600px) {
    .Post {
        width: 500px;
    }
} */